* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #41464b;
    color: white;
}

.actions{
    min-width: 500px;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.border-alert{
    border: solid red 2px;
}

.border-string-largger{
    border: solid mediumspringgreen 2px;
}

.btn{
    max-width: 250px;
}

.title{
    font-size: 2rem;
}

.reduce-main{
    max-width: 80vw;
}
